body {				   
	font-family: "Times New Roman", Times, serif;
/*	font-size: smaller;*/
}	

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {						   
	font-weight: bold;
	font-size: 150%;
}

h2 {
	font-weight: normal;
	font-size: 120%;
	list-style-type: decimal;
}

h3 {
	font-weight: normal;
	font-size: 100%;
}

h4 {
	font-weight: bold;
	font-size: smaller;
}

strong {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: smaller;
}	  

code, samp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: smaller;
}	  

a:link    { color: Navy; /*text-decoration: none;*/  }
a:visited { color: Purple; /*text-decoration: none;*/ }
a:hover { color: Purple; } 

